@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.navbar-brand {
  color: black !important;
  font-weight: 800;
}
.nav-link {
  color: rgb(104, 100, 100) !important;
  font-weight: 500;
}
.nav-link:hover,
.nav-link-active {
  color: black !important;
}
.order-btn {
  background-color: rgb(238, 86, 86);
  color: white;
  border: 1px solid rgb(238, 86, 86);
}
.order-btn:hover {
  color: rgb(238, 86, 86);
  color: white;
  border: 1px solid rgb(238, 86, 86);
}
.top-img {
  height: 650px;
  width: 100%;
  border-radius: 0 0 75% 75%/0 0 100% 100%;
  transform: scaleX(1.5);
}
.bolder {
  font-size: 2.5rem;
  font-weight: 700;
}
.top-text {
  font-size: 3rem;
  color: white;
}
.mybackk {
  background-image: url("../image/top-back-img.jpeg");
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
  /* border-radius: 0 0 75% 75%/0 0 100% 100%;
  transform: scaleX(1.5); */
}
.mybackk::before {
  content: "";
  position: absolute;
  inset: 0px;
  background-image: linear-gradient(
    rgba(107, 107, 107, 0.86),
    rgba(107, 107, 107, 0)
  );
  mix-blend-mode: multiply;
  z-index: 0;
}
.myfont {
  font-family: "Grand Hotel", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  color: #ec0000;
}
.mytopcont {
  padding: 5rem 10rem 17rem 10rem;
}
.mybold {
  font-weight: bold;
  font-size: 36px;
  color: #000000;
}
.know-more {
  color: #008836;
  text-decoration: none !important;
  border-bottom: 2px solid #008836;
}
.know-more:hover {
  color: #008836;
}
.swoop {
  position: absolute;
  display: block;
  fill: rgb(255, 255, 255);
  bottom: 0 !important;
}
.margintopp {
  margin-top: 4.7rem;
}
.z-indextop {
  position: relative;
  z-index: 1;
}
.textshadow {
  text-shadow: 1px 1px #000000;
}
.lineh {
  line-height: 2rem;
}
.food-link {
  color: rgb(0, 0, 0) !important;
  font-weight: 500;
  font-size: 24px;
  text-decoration: none;
}
.eventss {
  position: relative;
  width: 50%;
}
.eventss .events-btn {
  position: absolute;
  top: 90%;
  left: 23%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.lineh {
  line-height: 1px;
}
.form-text {
  font-size: 20px;
  font-weight: 500;
}
.fields {
  width: 100%;
  padding: 1rem;
  border: 1px;
  border-radius: 10px;
  background-color: #f1f3fa;
}
.book-btn {
  font-size: 25px;
  font-weight: 500;
  background-color: #f50000;
  border-radius: 13px;
}
