@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.navbar-brand {
  color: black !important;
  font-weight: 800;
}
.nav-link {
  color: black !important;
  font-weight: 500;
}
.order-btn {
  background-color: rgb(238, 86, 86);
  color: white;
  border: 1px solid rgb(238, 86, 86);
}
.order-btn:hover {
  color: rgb(238, 86, 86);
  color: white;
  border: 1px solid rgb(238, 86, 86);
}
.top-img {
  height: 650px;
  width: 100%;
  border-radius: 0 0 75% 75%/0 0 100% 100%;
  transform: scaleX(1.5);
}
.bolder {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 2rem;
}
.lnhei {
  line-height: 1rem;
}
.mybackk {
  background-image: url("../image/top.jpg");
  height: 500px;
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
  /* border-radius: 0 0 75% 75%/0 0 100% 100%;
  transform: scaleX(1.5); */
}
.myfont {
  font-family: "Grand Hotel", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 65px;
  color: #ec0000;
}
.mybold {
  font-weight: bold;
  font-size: 36px;
  line-height: 20px;
  color: #000000;
}
.know-more {
  color: #008836;
}
.know-more:hover {
  color: #008836;
}
